{% extends 'base.html' %}

{% block content %}
    <h1>Compara Precios Soriana vs. la Comer</h1>
        {% for title  in titles %}
            <h2>{{title}}</h2>
            {{ data[data['Item'].str.contains(title)].to_html(classes="table table-hover") | safe}}
        {% endfor %}
{% endblock %}
