{% extends 'base.html' %}

{% block content %}
    <h1>Bienvenido a Compara Precios </h1>
    <p> Sitio destinado a comparar precios de Frutas y verduras ofrecidos por Soriana y la Comer </p>

{% endblock %}
