body {
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: "Asap", sans-serif;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}
H1 {
  font-size: 1.8rem;
  margin-top: 15px;
  text-align: center;
}

table {
  border: 1px;
  font-size: 1rem;
  width: 60%;
  font-family: Ubuntu;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}
tr:nth-child(odd) {
  background-color: #fafafa;
}

td, th {
  border: 0px solid #ddd;
  padding: 8px;
  /* float: left; */
}

.table {
  overflow: scroll;
}





.row {
  align-items: center;
}

.header {
  margin: 0px;
  background-color: white;
  color: #333333;
  padding-right: 3%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}


.app-title {
  color: #333333;
  padding-left: 5%;
  font-size: 2.25rem;
  letter-spacing: -0.1rem;
  vertical-align: middle;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.tabs {
  border-top: 1px solid lightgrey;

  flex-direction: column;
  padding: 1rem 5%;
  margin-bottom: 1rem;
  background-color: white;
}

.tabs > a {
  text-decoration: none;
  color: #333333;
  font-size: 1.25rem;
  text-align: center;
}

.pretty_container {
  border-radius: 5px;
  background-color: white;
  margin: 0.5rem;
  padding: 1rem;
  position: relative;
  border: 1px solid #f1f1f1;
}



#menu {
  display: block;
  border: none;
  font-size: 2rem;
}


@media (min-width: 900px) {
  .header {
    flex-direction: row;
  }

  #subtitle {
    display: block;
  }
  #learn_more {
    display: block;
  }

  #menu {
    display: none;
  }

  #leads_table {
    -ms-grid-row: 6;
    -ms-grid-row-span: 4;
    grid-row: 6 / 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
    max-height: 500px;
  }

  .tabs {
    display: flex;
    flex-direction: row;
  }

  .tabs > a {
    width: 20%;
  }

  .tabs > a:first-child {
    border-right: 1px solid lightgrey;
  }

  .tabs > a:last-child {
    border-left: 1px solid lightgrey;
  }


