body {font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

.col_heading, .blank, .level0 {
    background-color: #829CBC;
    color: white;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align:left;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 0.9em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }

.data{
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align:left;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 0.9em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;


}


h1, h2 {color: #1F487E;}
h1, h2 {margin: 0;}
h1     { border-bottom: 2px solid #eee; }
h2     { font-size: 1.2em; }

a, a:focus, a:hover {color: white;}
table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.compara th {
    background-color: #376996;
    color: white;
}

.cambios th {
    background-color: #829CBC;
    color: white;
}
.martes th {
    background-color: #F6511D;
    color: white;

}

.lacomer th {
    background-color: #7FB800;
    color: white;

}

.table-hover th {
    background-color: #69B578;
    color: white;
}
.navbar-expand-lg {
    background-color: #0D3B66;

}








