
{% extends "base.html" %}
{% block content %}
    <div class="page">
        <h1>{{ title }}</h1>
        {% for table in tables %}
            <h2>{{titles[loop.index]}}</h2>
            {{ table|safe }}
        {% endfor %}

    </div>
{% endblock %}
